.global-styles-container1 {
  display: contents;
}
 
.global-styles-container2 {
  display: none;
}
 
.global-styles-container3 {
  display: contents;
}
 
.global-styles-container4 {
  display: none;
}
 
.global-styles-container5 {
  display: contents;
}
